In [24]:
from dateutil.rrule import rrule, WEEKLY
from datetime import datetime

In [142]:
start_date = datetime(2021, 2, 7)
end_date = datetime.now()
weeks_starting = list(rrule(WEEKLY, dtstart=start_date, until=end_date))

In [143]:
start_date = datetime(2021,2,15)
end_date = datetime.now()
weeks_ending = list(rrule(WEEKLY, dtstart=start_date, until=end_date))

In [144]:
weeks_starting[4]

datetime.datetime(2021, 3, 7, 0, 0)

In [145]:
weeks_starting=weeks_starting[:-1]
weeks_starting[len(weeks_starting)-1]

datetime.datetime(2023, 1, 22, 0, 0)

In [146]:
weeks_starting_final=[str(date)[:-9] for date in weeks_starting]
weeks_ending_final= [str(date)[:-9] for date in weeks_ending]

In [147]:
weeks_ending_final[54]

'2022-02-28'

In [16]:
import requests

In [137]:
metric = ['impressions','reach']
date_start= '2021-02-07'
date_end ='2021-02-08'
tokken = "EAAmNvp7ZCK7kBAMVz6ky6zkjcSTvBdY5goZC5qvTo3Tiy927lZAcvukDZBCcOKQt4ZCEjuNQ3CZA1q8Db6VZAlybHcq4MHdaZAfudh2tZBGLyjNANkHkS3NXH5q2beZCYrjEIOTio4D3KhoTdgqm1I2EluN2ZArldcDgUlO9eCOCow2TbPbe7ijbly8dpiglqbTuKUZD"

In [138]:
url = f"https://graph.facebook.com/v15.0/17841401901416928/insights?metric={metric[0]}&period=week&since={date_start}&until={date_end}&access_token={tokken}"

In [139]:
print(url)

https://graph.facebook.com/v15.0/17841401901416928/insights?metric=impressions&period=week&since=2021-02-07&until=2021-02-08&access_token=EAAmNvp7ZCK7kBAMVz6ky6zkjcSTvBdY5goZC5qvTo3Tiy927lZAcvukDZBCcOKQt4ZCEjuNQ3CZA1q8Db6VZAlybHcq4MHdaZAfudh2tZBGLyjNANkHkS3NXH5q2beZCYrjEIOTio4D3KhoTdgqm1I2EluN2ZArldcDgUlO9eCOCow2TbPbe7ijbly8dpiglqbTuKUZD

In [140]:
r = requests.get(url)

In [141]:
r

In [74]:
json=r.json()

In [75]:
json['data']

[{'name': 'impressions',
  'period': 'week',
  'values': [{'value': 449, 'end_time': '2021-07-07T07:00:00+0000'},
   {'value': 424, 'end_time': '2021-07-08T07:00:00+0000'},
   {'value': 440, 'end_time': '2021-07-09T07:00:00+0000'},
   {'value': 520, 'end_time': '2021-07-10T07:00:00+0000'},
   {'value': 503, 'end_time': '2021-07-11T07:00:00+0000'},
   {'value': 652, 'end_time': '2021-07-12T07:00:00+0000'},
   {'value': 1781, 'end_time': '2021-07-13T07:00:00+0000'}],
  'title': 'Impressions',
  'description': 'Nombre total de vues des m√©dias du compte professionnel',
  'id': '17841401901416928/insights/impressions/week'}]

In [60]:
type(json['data'][0]['values'][0])

dict

In [61]:
import pandas as pd

In [62]:
df = pd.DataFrame(json['data'][0]['values'])

In [ ]:
df.head(7)

In [148]:
df_dates = pd.DataFrame({"start": weeks_starting_final, "end": weeks_ending_final})

In [149]:
df_dates.head()

        start         end
0  2021-02-07  2021-02-15
1  2021-02-14  2021-02-22
2  2021-02-21  2021-03-01
3  2021-02-28  2021-03-08
4  2021-03-07  2021-03-15

In [108]:
def fetch_data(start,end, metric,tokken):
    url= f"https://graph.facebook.com/v15.0/17841401901416928/insights?metric={metric}&period=day&since={start}&until={end}&access_token={tokken}"
    r = requests.get(url)
    json=r.json()
    df = pd.DataFrame(json['data'][0]['values'])
    return df

In [109]:
df_dates.shape

(104, 2)

In [150]:
fetch_data(date_start,date_end,metric[0],tokken)

   value                  end_time
0   1438  2021-02-07T08:00:00+0000

In [151]:
test_array = pd.DataFrame({'impressions': [],'date': []})
for index, row in df_dates.iterrows():
     test_array = test_array.append({'impressions': row['start'], 'date': row['end']}, ignore_index=True)

In [152]:
test_array.shape

(103, 2)

In [153]:
df_dates[0:1]

        start         end
0  2021-02-07  2021-02-15

In [154]:
array_df=[]
for index, row in df_dates.iterrows():
    array_df.append(fetch_data(row['start'],row['end'],metric[0],tokken))

In [69]:
len(array_df)

0

In [155]:
df_impressions=pd.concat(array_df,ignore_index=True)

In [156]:
df_impressions.head(20)

    value                  end_time
0    1438  2021-02-07T08:00:00+0000
1    1195  2021-02-08T08:00:00+0000
2     451  2021-02-09T08:00:00+0000
3     108  2021-02-10T08:00:00+0000
4     163  2021-02-11T08:00:00+0000
5     915  2021-02-12T08:00:00+0000
6     578  2021-02-13T08:00:00+0000
7     170  2021-02-14T08:00:00+0000
8     170  2021-02-14T08:00:00+0000
9      97  2021-02-15T08:00:00+0000
10    649  2021-02-16T08:00:00+0000
11     84  2021-02-17T08:00:00+0000
12     54  2021-02-18T08:00:00+0000
13     44  2021-02-19T08:00:00+0000
14     53  2021-02-20T08:00:00+0000
15     53  2021-02-21T08:00:00+0000
16     53  2021-02-21T08:00:00+0000
17     56  2021-02-22T08:00:00+0000
18    349  2021-02-23T08:00:00+0000
19     86  2021-02-24T08:00:00+0000

In [157]:
array_df_reach=[]
for index, row in df_dates.iterrows():
    array_df_reach.append(fetch_data(row['start'],row['end'],metric[1],tokken))

In [158]:
len(array_df_reach)

103

In [159]:
df_reach=pd.concat(array_df_reach,ignore_index=True)

In [160]:
df_reach.head(20)

    value                  end_time
0    1294  2021-02-07T08:00:00+0000
1    1078  2021-02-08T08:00:00+0000
2     348  2021-02-09T08:00:00+0000
3      99  2021-02-10T08:00:00+0000
4      31  2021-02-11T08:00:00+0000
5     837  2021-02-12T08:00:00+0000
6     480  2021-02-13T08:00:00+0000
7     136  2021-02-14T08:00:00+0000
8     136  2021-02-14T08:00:00+0000
9      52  2021-02-15T08:00:00+0000
10    431  2021-02-16T08:00:00+0000
11     65  2021-02-17T08:00:00+0000
12     27  2021-02-18T08:00:00+0000
13     26  2021-02-19T08:00:00+0000
14     22  2021-02-20T08:00:00+0000
15     27  2021-02-21T08:00:00+0000
16     27  2021-02-21T08:00:00+0000
17     26  2021-02-22T08:00:00+0000
18     36  2021-02-23T08:00:00+0000
19     40  2021-02-24T08:00:00+0000

In [161]:
df_final=pd.merge(df_impressions, df_reach.value, left_index=True, right_index=True)

In [162]:
df_final.rename(columns = {'value_x':'impressions','value_y':'reach','end_time':'date'}, inplace = True)

In [163]:
date_modified=[]
for date in df_final['date']:
    date_modified.append(date[:-14])

In [164]:
df_final['date']=date_modified

In [165]:
df_final.head()

   impressions        date  reach
0         1438  2021-02-07   1294
1         1195  2021-02-08   1078
2          451  2021-02-09    348
3          108  2021-02-10     99
4          163  2021-02-11     31

In [190]:
df_final.drop_duplicates(subset='date', keep=False, inplace=True)

In [186]:
len(df_final)

620

In [193]:
df_final.to_csv('impressions_reach_CJ_instagram_21-2-7_to_23-1-24_corected_version.csv')

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
result.plot(x='end_time', y='value', kind='line')

In [ ]:
result.shape

In [ ]:
result.shape()

In [ ]:
len(result.values)