In [16]:
from dateutil.rrule import rrule, DAILY
from datetime import datetime
import matplotlib.pyplot as plt
import pandas as pd
import requests
import numpy as np

In [36]:

url="https://graph.facebook.com/v15.0/17841401901416928/media?limit=4000&access_token=EAAmNvp7ZCK7kBAHmtRECTzIJITWBxgeasso4sEM7xDJ2tJU7i9j99RmNvQZAhISuIcUIGXhzJEGEAXp0wYoCir0wDQpDgjj5ZC516OZBaeB5nHF0fZAY77NMc5S1QcVdY3qspjtPTu1hQFWEM5CNNYMgDrN16oTOf7QiLoBuAbjNJtQ336P6N1EoZBhOT6xqmtu8mn42o6twZDZD"

In [37]:
url

'https://graph.facebook.com/v15.0/17841401901416928/media?limit=4000&access_token=EAAmNvp7ZCK7kBAHmtRECTzIJITWBxgeasso4sEM7xDJ2tJU7i9j99RmNvQZAhISuIcUIGXhzJEGEAXp0wYoCir0wDQpDgjj5ZC516OZBaeB5nHF0fZAY77NMc5S1QcVdY3qspjtPTu1hQFWEM5CNNYMgDrN16oTOf7QiLoBuAbjNJtQ336P6N1EoZBhOT6xqmtu8mn42o6twZDZD'

In [38]:
r = requests.get(url)

In [39]:
r

In [41]:
json=r.json()

In [42]:
values = [d['id'] for d in json['data']]

In [43]:
len(values)

2878

In [44]:
unique_values = len(set(values))
print(unique_values)

2878

In [4]:
values[5]

NameError: name 'values' is not defined

In [2]:
def fetch_data_media(media_id):
    url= f'https://graph.facebook.com/v15.0/{media_id}?fields=like_count%2Cmedia_type%2Creach%2Cimpressions%2Ccomments_count%2Cmedia_url%2Ctimestamp&access_token=EAAmNvp7ZCK7kBAEZAWNPFyoptC75ZAznZCFXsoAdnX5nXa07Sc2uC2ZCcFroeZCLYeS1flsrRWZCXD4kwpnV2umaQWa6xy2afyHisqCz8uXTF3tpmAPrONktP6FeaawpOJTAraA526fOCl5GVyfo9jRS0yJ5rB0sh4IJACCJFZC0wkoVd8Ci2MAXZAhhCEnZARNEimq5FsS8oMSAZDZD'
    r = requests.get(url)
    json=r.json()
    return json

In [3]:
fetch_data_media(values[2876])

NameError: name 'values' is not defined

In [49]:
media_data_arr=[]
for d in values:
    media_data_arr.append(fetch_data_media(d))

In [50]:
media_data_arr[2566]

{'like_count': 31,
 'media_type': 'IMAGE',
 'comments_count': 9,
 'media_url': 'https://scontent.cdninstagram.com/v/t51.2885-15/10808522_188047781365444_1259320932_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=qDlBvg5VaGsAX-RmTWz&_nc_ht=scontent.cdninstagram.com&edm=AEQ6tj4EAAAA&oh=00_AfDiA_PaLDPBWJp5Q4gqcLLrGUbER0SEphAsjCZNc3ZMoA&oe=63D6597D',
 'timestamp': '2014-12-01T09:08:01+0000',
 'id': '17842977913063381'}

In [51]:
df_media_insights=pd.DataFrame(media_data_arr)

In [53]:
df_media_insights.head(-50)

,like_count,media_type,comments_count,media_url,timestamp,id
0,41,VIDEO,0,https://video.cdninstagram.com/o1/v/t16/f1/m82...,2023-01-24T15:50:58+0000,17953676306238179
1,11,CAROUSEL_ALBUM,0,https://scontent.cdninstagram.com/v/t51.29350-...,2023-01-08T13:59:28+0000,18337061332062615
2,43,VIDEO,0,https://video.cdninstagram.com/o1/v/t16/f1/m82...,2023-01-03T17:33:44+0000,17884478780780159
3,8,CAROUSEL_ALBUM,2,https://scontent.cdninstagram.com/v/t51.29350-...,2022-12-01T23:36:34+0000,17944144790302532
4,27,CAROUSEL_ALBUM,1,https://scontent.cdninstagram.com/v/t51.29350-...,2022-11-15T11:50:54+0000,18267292720097018
...,...,...,...,...,...,...
2823,28,IMAGE,0,https://scontent.cdninstagram.com/v/t51.2885-1...,2014-07-08T17:00:19+0000,17842892755063381
2824,27,IMAGE,0,https://scontent.cdninstagram.com/v/t51.2885-1...,2014-07-07T21:51:41+0000,17842892281063381
2825,21,IMAGE,3,https://scontent.cdninstagram.com/v/t51.2885-1...,2014-07-07T18:46:00+0000,17842892053063381
2826,26,IMAGE,1,https://scontent.cdninstagram.com/v/t51.2885-1...,2014-07-06T17:08:34+0000,17842890568063381
2827,20,IMAGE,0,https://scontent.cdninstagram.com/v/t51.2885-1...,2014-07-04T22:41:05+0000,17841784693063381

In [54]:
df_media_insights.to_csv('CJ_Instagram_insights_per_Media_(likes,url,comments_count,date,id_2014_to_2023.csv')

In [55]:
df_media_insights.to_excel('CJ_Instagram_insights_per_Media_(likes,url,comments_count,date,id_2014_to_2023.xlsx')

In [56]:
df_media_insights.describe()

        like_count  comments_count
count  2878.000000     2878.000000
mean     81.991313        8.302641
std     134.045462       87.291491
min       2.000000        0.000000
25%      30.000000        0.000000
50%      44.000000        1.000000
75%      79.000000        4.000000
max    1981.000000     3396.000000