In [81]:
from dateutil.rrule import rrule, DAILY
from datetime import datetime
import matplotlib.pyplot as plt
import pandas as pd
import requests

In [134]:
metric = ['likes','comments']
date_start= '2023-01-19'
date_end ='2023-01-20'
tokken = "EAAmNvp7ZCK7kBAKFpcn9g94mtmcF8OenGu3A9LTY5VZAeTSHudPQriiV8ftsfffKLb3XsKO6kZCn2fvDRbbNtS8179X8O9a1coCjZABaAjitEF6dxyyxwBxbG6P8NiT4V4dxSX2vwciKOfpAqjYaFZBbseCdpTXbta4fI3IXJLwdAkpDnlZAwAZBwacrWMVfgAYhWD05ZBCr9QZDZD"

In [126]:
url="https://graph.facebook.com/v15.0/17841401901416928/insights?pretty=0&since=2023-01-19&until=2023-01-20&metric=comments&metric_type=total_value&period=day&access_token=EAAmNvp7ZCK7kBALIHCVVcrW05rTSAb9xWUZAVIZAalZCbI035gD8e6rEoOK6SLEM3Lnt3NRRxURWdgejrsMSXbUDyZBrNNNpqWqe7LypZCbzRtYZBhD0eaJTOCUTagkphXvOkwlVJipYVk84CxErZBXlfCcZB5QNwjtWhHRkkZCZBjDpjxoJHn8t2QBXxVH4J4HMZAohBJZCZAH1WP7gZDZD"

In [127]:
print(url)

https://graph.facebook.com/v15.0/17841401901416928/insights?pretty=0&since=2023-01-19&until=2023-01-20&metric=comments&metric_type=total_value&period=day&access_token=EAAmNvp7ZCK7kBALIHCVVcrW05rTSAb9xWUZAVIZAalZCbI035gD8e6rEoOK6SLEM3Lnt3NRRxURWdgejrsMSXbUDyZBrNNNpqWqe7LypZCbzRtYZBhD0eaJTOCUTagkphXvOkwlVJipYVk84CxErZBXlfCcZB5QNwjtWhHRkkZCZBjDpjxoJHn8t2QBXxVH4J4HMZAohBJZCZAH1WP7gZDZD

In [128]:
r = requests.get(url)

In [129]:
r

In [130]:
json=r.json()

In [131]:
json

{'data': [{'name': 'comments',
   'period': 'day',
   'title': 'Commentaires',
   'description': 'Le nombre de commentaires sur vos publications, reels, vidéos et vidéos en direct.',
   'total_value': {'value': 0},
   'id': '17841401901416928/insights/comments/day'}],
 'paging': {'previous': 'https://graph.facebook.com/v15.0/17841401901416928/insights?access_token=EAAmNvp7ZCK7kBALIHCVVcrW05rTSAb9xWUZAVIZAalZCbI035gD8e6rEoOK6SLEM3Lnt3NRRxURWdgejrsMSXbUDyZBrNNNpqWqe7LypZCbzRtYZBhD0eaJTOCUTagkphXvOkwlVJipYVk84CxErZBXlfCcZB5QNwjtWhHRkkZCZBjDpjxoJHn8t2QBXxVH4J4HMZAohBJZCZAH1WP7gZDZD&pretty=0&since=1673999999&until=1674086399&metric=comments&metric_type=total_value&period=day',
  'next': 'https://graph.facebook.com/v15.0/17841401901416928/insights?access_token=EAAmNvp7ZCK7kBALIHCVVcrW05rTSAb9xWUZAVIZAalZCbI035gD8e6rEoOK6SLEM3Lnt3NRRxURWdgejrsMSXbUDyZBrNNNpqWqe7LypZCbzRtYZBhD0eaJTOCUTagkphXvOkwlVJipYVk84CxErZBXlfCcZB5QNwjtWhHRkkZCZBjDpjxoJHn8t2QBXxVH4J4HMZAohBJZCZAH1WP7gZDZD&pretty=0&since=1674172801&until=1674259201&metric=comments&metric_type=total_value&period=day'}}

In [132]:
json['data'][0]['total_value']['value']

0

In [103]:
start_date = datetime(2021, 1, 31)
end_date = datetime.now()
days_starting = list(rrule(DAILY, dtstart=start_date, until=end_date))

In [105]:
days_starting.pop()

datetime.datetime(2023, 1, 25, 0, 0)

In [106]:
print(len(days_starting),len(days_ending))

724 724

In [88]:
start_date = datetime(2021, 2, 1)
end_date = datetime.now()
days_ending = list(rrule(DAILY, dtstart=start_date, until=end_date))

In [107]:
df_dates_day=pd.DataFrame({'start': days_starting,'end': days_ending})

In [109]:
df_dates_day.start[0]

Timestamp('2021-01-31 00:00:00')

In [112]:
def fetch_data_daily(start,end, metric,tokken):
    url= f"https://graph.facebook.com/v15.0/17841401901416928/insights?metric={metric}&period=day&pretty=0&since={start}&until={end}&metric_type=total_value&access_token={tokken}"
    r = requests.get(url)
    json=r.json()
    value = json['data'][0]['total_value']['value']
    return value

In [135]:
fetch_data_daily(date_start,date_end,metric[1],tokken)

0

In [117]:
likes_arr=[]
for index, row in df_dates_day.iterrows():
    likes_arr.append(fetch_data_daily(row['start'],row['end'],metric[0],tokken))

In [118]:
len(likes_arr)

724

In [119]:
likes_arr[650]

11

In [136]:
comments_arr=[]
for index, row in df_dates_day.iterrows():
    comments_arr.append(fetch_data_daily(row['start'],row['end'],metric[1],tokken))

In [137]:
len(comments_arr)

724

In [138]:
df_final=pd.read_csv('impressions_reach_CJ_instagram_21-1-31_to_23-1-24.csv')

In [139]:
df_final.head()

   Unnamed: 0  impressions        date  reach
0           0         9308  2021-01-31   6448
1           1         8218  2021-02-01   6113
2           2         7979  2021-02-02   6071
3           3         5644  2021-02-03   4569
4           4         2066  2021-02-04   1554

In [163]:
likes_arr=likes_arr[:-2]

In [164]:
len(likes_arr)

721

In [141]:
len(comments_arr)

723

In [165]:
df_final['comments']=comments_arr

In [166]:
df_final['likes']= likes_arr

In [167]:
df_final.likes.sum()

2577

In [178]:
df_final.to_csv('CJ_Instagram_metrics_(impressions,reach,likes,comments)_2021-1_to_2023-1.csv')

In [174]:
df_final.drop('Unnamed: 0',inplace=True, axis=1)

In [176]:
df_final.head(50)

    impressions        date  reach  comments  likes
0          9308  2021-01-31   6448         0      0
1          8218  2021-02-01   6113         0      0
2          7979  2021-02-02   6071         0      0
3          5644  2021-02-03   4569         0      0
4          2066  2021-02-04   1554         0      0
5          1718  2021-02-05   1339         0      0
6          1696  2021-02-06   1318         0      0
7          3072  2021-02-07   2152         0      0
8          3832  2021-02-08   2431         0      0
9          3512  2021-02-09   2291         0      0
10         3383  2021-02-10   2316         0      0
11         3469  2021-02-11   2310         0      0
12         4357  2021-02-12   2656         0      0
13         4848  2021-02-13   2859         0      0
14         3580  2021-02-14   2338         0      0
15         2482  2021-02-15   1794         0      0
16         2680  2021-02-16   1840         0      0
17         2656  2021-02-17   1840         0      0
18         2547  2021-02-18   1837         0      0
19         1676  2021-02-19   1124         0      0
20         1151  2021-02-20    736         0      0
21         1034  2021-02-21    639         0      0
22          993  2021-02-22    613         0      0
23          693  2021-02-23    223         0      0
24          695  2021-02-24    199         0      0
25          680  2021-02-25    194         0      0
26         1839  2021-02-26   1314         0      0
27         2023  2021-02-27   1448         0      0
28         2076  2021-02-28   1480         0      0
29         2067  2021-03-01   1474         0      0
30         1747  2021-03-02   1458         0      0
31         1704  2021-03-03   1452         0      0
32         1763  2021-03-04   1456         0      0
33          595  2021-03-05    362         0      0
34          667  2021-03-06    202         0      0
35          624  2021-03-07    170         0      0
36         1640  2021-03-08   1133         0      0
37         1958  2021-03-09   1374         0      0
38         2861  2021-03-10   1700         0      0
39         3064  2021-03-11   1770         0      0
40         3671  2021-03-12   2011         0      0
41         3586  2021-03-13   2088         0      0
42         3620  2021-03-14   2113         0      0
43         3811  2021-03-15   2210         0      0
44         3706  2021-03-16   2178         0      0
45         2934  2021-03-17   1830         0      0
46         2678  2021-03-18   1753         0      0
47         2180  2021-03-19   1491         0      0
48         2063  2021-03-20   1428         0      0
49         2001  2021-03-21   1400         0      0

In [177]:
df_final.describe()

        impressions         reach    comments        likes
count    721.000000    721.000000  721.000000   721.000000
mean    2126.285714   1319.141470    0.051318     3.574202
std     2337.741338   1653.894751    0.389268    49.720584
min      221.000000    103.000000    0.000000     0.000000
25%      924.000000    565.000000    0.000000     0.000000
50%     1576.000000   1001.000000    0.000000     0.000000
75%     2547.000000   1547.000000    0.000000     0.000000
max    22733.000000  16585.000000    7.000000  1286.000000

In [179]:
df_final.to_excel('CJ_Instagram_metrics_(impressionsreach,likes,comments)_2021-1_to_2023-1.xlsx')